/*------ このプロジェクトの全体的なテーマ ---------*/

:root {
	--font-mincho: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "HGS明朝E", "MS P明朝", serif;
	--font-main: 'Roboto', sans-serif;
}

* {
	font-family: var(--font-main), sans-serif;
	box-sizing: border-box;
	color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
	margin: 0;
}

figure,
figcaption {
	text-align: center;
}

figure img {
	width: 80%;
}

.center {
	align-items: center;
	padding: 2em 0;
	width: 100%;
}


h2 {
	border-bottom: 3px solid black;
	font-size: 3em;
	text-align: center;
	text-shadow: 0 0 40px white;
}


/*------- sectionのスタイル ---------*/

section {
	padding: 100px;
}




.section-description {
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-sizing: content-box;
}

.section-content {
	max-width: 50em;
}




/*------- articleのスタイル ---------*/
article {
	background-color: black;
	box-shadow: 0 0 20px grey;
	border-radius: 10px;
	padding: 30px;
	margin: 30px auto;
	color: black;
	max-width: 60em;
}


a:hover > article {
	transform: translateY(-5px);
	box-shadow: 0 0 40px white;
	transition: 0.5s;
}

a > article {
	transition: 0.3s;
}

.left-align-article article {
	/* display: flex; */
	margin-right: auto;
}


.small-article {
	max-width: 50em;
	margin: 0 2em;
}




.top-area {
	background-color: black;
	z-index: 2;
	position: relative;
}

.top-img {
	background-size: cover;
	background-position: center;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
}


.top-img .title {
	text-shadow: 0 0 20px white;
	font-weight: bold;
	font-size: 3em;
	color: white;
}


header {
	text-align: center;
	margin: 0;
	height: 4em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	position: fixed;
	top: 0;
	background-color: black;
}

header .title {
	margin: 0;
	padding: 5px 10px;
	font-family: var(--font-mincho), serif;
	font-size: 2rem;
	position: sticky;
	top: 0;
}

.header-subtitle {
	font-size: 3rem;
	font-family: var(--font-mincho), serif;
}


.header-menu-area {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 2em;
}


.menu-subject {
	margin: 0;
	font-size: 1.5em;
	color: white;
	font-family: var(--font-mincho), serif;
}

.header-menu a {
	text-decoration: none;
	padding: 10px 20px;
	display: flex;
}

.header-menu a:hover {
	text-decoration: underline;
}




