/*------------------------------------------------------------------- navのスタイル ----------------------------*/


/*------------- a要素のスタイル --------------*/
nav a[class="circle"] {
	font-family: var(--font-mincho), serif;
	font-size: 3rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.5s ease;
	text-decoration: none;
}


nav a[class="circle"]:hover {
	box-shadow: 0 0 70px white;
	transform: scale(1.5);
	transition: 0.3s ease;
}


.circle {
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}


/*------ 画面サイズによって、navのスタイルを変える -----*/

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100em;
	gap: 5rem;
}

/* 15 + 5 + 15 + 5 + 15 + 1 (+1 はほんの少しの真心)*/
@media screen and (max-width: 56rem) {
	nav {
		/* 15 + 5 + 15 */
		height: 35rem;
	}
}

/* 15 + 5 + 15 + 1 (+1 はほんの少しの真心)*/
@media screen and (max-width: 36rem) {
	nav {
		/* 15 + 5 + 15 + 5 + 15 */
		height: 55rem;
	}
}




/*------------------------------------------------------------------articleのスタイル-----------------------------*/
a > article {
	transition: 0.3s;
}

a:hover > article {
	transform: translateY(-5px);
	box-shadow: 0 0 40px white;
	transition: 0.5s;
}


.left-align-article article {
	margin-right: auto;
}


.article-list {
	max-width: 50em;
	margin: 0 2em;
}

.article-list article {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




/*------------------------------------------------------------------------navのa要素の背景画像を指定 ---------*/
#nav-kofun {
	background-image: radial-gradient(rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 1)),
		url(../assets/kofun/nintoku-kofun.jpg);
	transition: 0.3s ease;
	background-size: 240%;
}

#nav-kofun:hover {
	background-image: url(../assets/kofun/nintoku-kofun.jpg);
	transition: 0.5s ease;
	background-size: 160%;
}

#nav-moat {
	background-image: radial-gradient(rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 1)),
		url(../assets/moat/moat.jpg);
	transition: 0.3s ease;
	background-size: 240%;
}

#nav-moat:hover {
	background-image: url(../assets/moat/moat.jpg);
	transition: 0.5s ease;
	background-size: 160%;
}

#nav-smithing {
	background-image: radial-gradient(rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 1)),
		url(../assets/smithing/smithing.avif);
	transition: 0.3s ease;
	background-size: 270%;
}

#nav-smithing:hover {
	background-image: url(../assets/smithing/smithing.avif);
	transition: 0.5s ease;
	background-size: 180%;
}



/*------------------------------------------------------------------------各sectionの背景画像を指定--------*/
section {
	background-repeat: no-repeat;
	background-size: cover;
}

#kofun-section {
	background-image: linear-gradient(rgba(0, 0, 0, 1),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/kofun/nintoku-kofun.jpg");
}

#moat-section {
	background-image: linear-gradient(rgba(0, 0, 0, 1),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/moat/moat.jpg");
}

#smithing-section {
	background-image: linear-gradient(rgba(0, 0, 0, 1),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/smithing/smithing.avif");
}



/*---------------------------------------------------------------------- articleの背景画像の指定 ------------------*/
/*----- 古墳のセクション -------*/
#kofun-types-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/kofun/kofun-types.jpg");
	background-position: top right;
}

#mozu-heritage-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/kofun/heritage-kofun.png");
}

#kofun-spots-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/kofun/visitor-center.jpg");
}


/*------ 環濠のセクション -------*/
#moat-origin-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/moat/moat-map.jpg");
}

#river-impact-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/moat/transition-sea-line.jpg");
}

#moat-spots-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/moat/sakai-risho-no-mori.jpg");
}



/*------ 鍛冶のセクション -------*/
#smithing-origin-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/smithing/knife-professional.jpg");
}

#modern-smithing-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/smithing/fish-knife.webp");
}

#smithing-spots-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 1)), url("../assets/smithing/cut.png");
}
