.top-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
	rgba(0, 0, 0, 0.3),
	rgba(0, 0, 0, 1)), url("../assets/kofun/nintoku-kofun.jpg");
}

/* 各セクションの背景*/
#kofun-section {
	background-image: linear-gradient(rgba(0, 0, 0, 1),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../assets/kofun/nintoku-kofun.jpg");
	background-size: cover;
	background-position: center;

}

#moat-section {
	background-image: linear-gradient(rgba(0, 0, 0, 1),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../assets/moat/moat.jpg");
	background-size: cover;
	background-position: center;

}

#smithing-section {
	background-image: linear-gradient(rgba(0, 0, 0, 1),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../assets/smithing/smithing.avif");
	background-size: cover;
	background-position: center;

}

article {
	background-size: cover;
	background-position: right top;
	background-repeat: no-repeat;

}

/*各articleの背景(古墳セクション)*/
#kofun-types-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../../assets/kofun/kofun-types.jpg");
}

#mozu-heritage-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../../assets/kofun/kofun-types.jpg");
}

#kofun-spots-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../../assets/kofun/kofun-types.jpg");
}

/*各articleの背景(環濠セクション)*/
#moat-origin-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../../assets/moat/moat-map.jpg");
}

#river-impact-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../../assets/moat/moat-map.jpg");
}

#moat-spots-article {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 1)), url("../../assets/moat/moat-map.jpg");
}


@media screen and (min-width: 900px) and (min-height: 600px) {

	nav {
		position: sticky;
		bottom: 0;
	}


}


div[class="small-article"] a  {
	text-decoration: none;
}


nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 400px;
	text-align: center;
	max-width: 100em;
	gap: 5em;
}

@media screen and (max-width: 900px) {

	nav {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		height: 500px;
		gap: 2em;
	}
}

@media screen and (max-width: 600px) {

	nav {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		height: 800px;
		gap: 2em;
	}
}



nav a[class="circle"] {
	font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "HGS明朝E", "MS P明朝", serif;
	font-size: 3em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.5s;
	text-decoration: none;
}


nav a[class="circle"]:hover {w
	box-shadow: 0 0 70px white;
	transform: scale(1.5);
	transition: 0.3s;
}


.circle {
	border-radius: 50%;
	width: 5em;
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aqua;
}

#nav-kofun {
	background-image: radial-gradient(rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 1)),
		url(../assets/kofun/nintoku-kofun.jpg);
	background-size: 240%;
	transition: 0.3s;
}

#nav-kofun:hover {
	background-image: url(../assets/kofun/nintoku-kofun.jpg);
	transition: 0.5s;
	background-size: 160%;
}

#nav-moat {
	background-image: radial-gradient(rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 1)),
		url(../assets/moat/moat.jpg);
	transition: 0.3s;
	background-size: 240%;
}

#nav-moat:hover {
	background-image: url(../assets/moat/moat.jpg);
	transition: 0.5s;
	background-size: 160%;
}

#nav-smithing {
	background-image: radial-gradient(rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 1)),
		url(../assets/smithing/smithing.avif);
	transition: 0.3s;
	background-size: 270%;
}

#nav-smithing:hover {
	background-image: url(../assets/smithing/smithing.avif);
	transition: 0.5s;
	background-size: 180%;
}