/*------------------------------------------------------------------- top-areaのスタイル ----------------------------*/
.top-area .title {
	position: sticky;
	bottom: 50%;
}


h3 {
	font-family: var(--font-mincho), serif;
	margin-left: 4em;
	padding-left: 2em;
	border-left: solid 1px white ;
}


.google-map {
	width: 100%;
	display: flex;
	justify-content: center;
}

iframe {
	width: 100%;
	aspect-ratio: 16/9;
}